@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../новая папка/open-sans-v34-latin-regular.woff2') format('woff2'),
    url('../новая папка/open-sans-v34-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../новая папка/open-sans-v34-latin-600.woff2') format('woff2'),
    url('../новая папка/open-sans-v34-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../новая папка/open-sans-v34-latin-700.woff2') format('woff2'),
    url('../новая папка/open-sans-v34-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('../новая папка/open-sans-v34-latin-italic.woff2') format('woff2'),
    url('../новая папка/open-sans-v34-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
    url('../новая папка/open-sans-v34-latin-800italic.woff2') format('woff2'),
    url('../новая папка/open-sans-v34-latin-800italic.woff') format('woff');
}

.page {
    /* max-width: 1240px; */
    font-family: 'Open Sans';
    font-weight: normal;
    font-weight: 400;
    font-size: 16px;
    margin: auto;
}

.page__inner {
      padding-top: 29px;
}

.page_inner_intro {
  padding-top: 29px;
}

.page__inner_grey {
  background-color: #F6F2F2;
}

.page__inner_section {
  padding: 102px 0 110px;
}

.page_header {
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    width: 1249px;
    min-height: 89px;
    background-color: rgba(0, 0, 0, 0.8);

}
.site-menu {
  margin-left: -30px;
}

.site-menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.site-menu__item {
    display: flex;
    min-height: 89px;
}

.site-menu_link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
}

.site-menu__active_link {
    background-color: hsl(360, 100%, 62%);
}

.site-menu_link:hover {
    background-color: hsl(360, 100%, 62%);
}

/* two section*/

.intro {
  display: flex;
  width: 1249px;
  margin: 0 auto;
  justify-content: space-between;
}

.intro__info {
  max-width: 595px;
}

.intro__heading {
  font-family: 'Open Sans';
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 19px;
  margin-top: -15px;
}

.intro__span_special{
  letter-spacing: 6px;
}

.intro__text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 58px;
}

.action-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  min-height: 55px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  border-radius: 5px;
  text-decoration: none;
}

.action-link_red-full {
    background-color: #FF2D2D;
    color: #fff;
}

.action-link_red-transp {
    color: #FF2D2D;
    background-color:
    rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF2D2D;
  }

.intro__video {
  width: 551px;
  height: 356px;
  object-fit: cover;
  box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

/* services*/
.services {
  display: flex;
  width: 1249px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 107px 0 90px;
}

.services__info {
  width: 530px;
}

.services__heading {
  font-family: 'Open Sans';
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0.422159px;
  text-transform: uppercase;
}

.services__text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.services__about {
  margin: 0;
  margin-bottom: 64px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
}

.services_item {
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.services_item_icon_mang::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../images/shesterny.svg');
  background-repeat: no-repeat;
}
.services__item_icon_anim::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../images/car.svg');
  background-repeat: no-repeat;
}
.services__item_icon_design::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url( '../images/pen.svg');
  background-repeat: no-repeat;
}
.services__item_icon_logo::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('../images/brilliance.svg');
  background-repeat: no-repeat;
}

.services_title {
  margin-bottom: 13px;
  font-family: 'Open Sans';
  font-size: 24.0692px;
}
.services_line {
  width: 1248px;
  height: 2px;
  background-color: #ececec;
  border: none;
}

/* Features*/
.feature {
width: 1249px;
margin: 0 auto;
padding-top: 105px;
}

.feature__header {
  margin-bottom: 88px;
}

.feature__heading {
  margin: 0;
  margin-bottom: 28.5px;
font-family: 'Open Sans';
font-size: 41.9876px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.3834px;
text-transform: uppercase;
color: #000000;
text-align: center;
}

.feature__about {
  width: 537px;
  margin: 0 auto;
font-family: 'Open Sans';
font-size: 15.9953px;
line-height: 28px;
text-align: center;
}

.feature__line {
  width: 130px;
  height: 2px;
  border: none;
  background-color: rgba(255, 45, 45, 1);
      margin-top: 25px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
}

.filter__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}

.filter__link {
  font-family: 'Open Sans';
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.filter__link_active {
    color: rgba(255, 45, 45, 1);
}

.filter__link:hover {
  color: rgba(255, 45, 45, 1);
}

.feature__products {
  width: 1249px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: auto;
}

.feature_product {
  width: 297px;
  object-fit: cover;
  object-position: 30% 50%;
}
